/*base-color:#2c3e50*/
/*-------------------IMPORTANT---------------------*/
/*Using the same styles as of cars.css.
Also the same queries.*/
/*-------------------------------------------------*/
*{
/*outline:1px solid red;*/
    
}


body{
    font-family:"Lato",sans-serif;
    font-size: 20px;
    color:#fff;
 
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    
   height:auto;

    
}

.section-heading{
    color:#000;
    text-transform:uppercase;
    font-family: 'Raleway', sans-serif;
    
    margin-bottom: 20px;
    
   
}
.section-heading>h2{
    font-size: 200%;
    text-align: center;
    
    padding: 5px;
     
}
.light{
   color:#000; 
}
.dark{
   color:#fff; 
}

.redirect-btn{
    padding: 10px;
    color:#7493b2;
    border:2px solid #7493b2;
    /*border-radius: 15%;*/
    margin: 10px 5px;
    
}

.redirect-btn-full{
    padding: 10px;
    color:#000;
    background: #7493b2;
    border:2px solid #7493b2;
    /*border-radius: 15%;*/
    margin:10px 10px;
    text-decoration: none;
    
    
}

.section{
    padding-top:85px;
    padding-bottom: 50px;
    /*box-shadow: 0px 2px 10px ;*/
   
}

/*------------------NAV BAR -------------------------*/

.header-section
{
    margin:0px 0px;
    padding:10px 0px;
    justify-content: center;
    max-height:auto;
    
     background-image:linear-gradient(#000000, rgb(9, 12, 16));
}
            .header{
                display: flex;
            }
.logo{
    max-width: 100%;
    max-height: 15vh;
    border-radius: 50%;
}
.logo-holder{
    margin:auto;
    text-align: center;
}

.main-nav{
    margin: auto;
    justify-content: center;
}
.main-nav ul{
    justify-content: center;
    list-style: none;
    display: flex;
    min-width:100%;
    margin-top:0px;
    
}

.main-nav li{
  min-width:20%;
    text-align: center;
    height: auto;
    
}
.main-nav a{
    border-bottom: 2px solid transparent;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color:#89a4be;
    transition: border-bottom .5s, color .5s;
}
.main-nav a:hover{
    
    border-bottom: 2px solid #c0cedc;
    color:#c0cedc;
}

.main-nav .selected{
    color:#c0cedc;
    border: 2px solid #c0cedc;
    padding: 5px;


} 
            /*  end of already existing styles for nav bar*/
            /* ----  New styles for making responsive nav ------*/
            
            /*------------STICKY NAV---------------------------*/
            .sticky-nav{
                position:fixed;
                top:0px;
                left:0px;
                min-width: 100%;
                box-shadow: 0px 2px 7px #3e3d3d;
                z-index: 9999;
                 background-image:linear-gradient(#000000, rgb(9, 12, 16));
                
}
            .sticky-nav .logo{
                max-height: 8vh;
            }
            .sticky-nav .main-nav ul{
                margin-top:25px;
}
            /*-----------END of STICKY NAV------------*/
            /*-------------HAMBURGER MENU only till 998px--------------*/
            .hamburger-icon {
                min-height: 100%;
                justify-content: center;
                display: none;
}
            .hamburger-icon a {
                text-decoration: none;
                color: #fff;
                min-height: auto;
                margin-top:2vh;
                
            }
            .hamburger-icon i{
                color: #fff;
                font-size: 200%;
            }
              /*media queries for hamburger menu*/
            @media screen and (max-width:991px){
                
                .header-section{
                    max-height: 70vh;
                }
                .header{
                    display: flex;
                    min-height: 100%;
                    
                }
                .hamburger-icon{
                    display: flex;
                    min-height: 100%;
                }
                .logo-holder{
                    display: flex;
                    min-height: 100%;
                    justify-content: center;
                    margin:5px;
                   }
               .logo{
                    max-width:20vmin;
                    max-height:20vmin;
                }
                .main-nav ul{
                    display: none;/*should be changed on clicking the icon*/
                    margin: 0px;
                    font-size: 60%;
                    padding: 2px;
                    
                }
                .main-nav ul li{
                    padding: 10px 0px;
                }
                .hamburger-icon{
                    text-align: center;
                    padding: 2px;
                    
                }
                .sticky-nav .main-nav ul{
                    margin-top:0px;
}
                 .sticky-nav .logo{
                    max-width: 15vmin;
                     max-height: 15vmin;
                
            }
            }
/*--------------END OF NAV BAR-------------------------*/
/*------------GALLERY HEADER SECtION--------------------------*/
header{
     
    background-image:linear-gradient(rgba(38, 54, 69, 0.33),rgb(0, 0, 0) 70%),url(images/gallery.jpg);
    height: 60vh;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    
}
.feature-head{
    position: relative;
    min-height:100%;
    
}

.feature-head-text{
    max-height: 40vh;
    position: absolute;
    bottom:50px;
    display: block;
    width: 90vw;
    color:white;
    padding: 1em;
    left:5vw;
}
h1{
    font-size: 370%;
    font-weight:300;
    color: rgba(255, 255, 255, 0.89);
    flex-wrap: wrap;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
   font-family: 'PT Sans Narrow', sans-serif;
    width: 100%;
    margin-top:10px;
    margin-bottom: 10px;
   
}

/*------------------CAR SECTION common-------------------*/
.zoom-gallery{
    display: flex;
    flex-wrap:wrap;
    /*box-shadow: 0px 1px 2px #000;*/
    
}

.car-text{
    margin-top:10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.car-desc{
    background-color:#fff;
    margin:10px 0px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 15px 0px #554b4b;
    border-radius: 0%;
   
    
}
.car-desc>h4{
   font-family: 'PT Sans Narrow', sans-serif; 
    font-size: 120%;
    letter-spacing: 1px;
}
.sub-nav1{
    display: none;
}
.visible1{
    display: block;
}

/*----------------END OF CAR SECTION-------------------*/
/*-----------------Light background section-------------*/

.light-bg{
    background-color:#d6dfe9;
}
.img-thumbnail{
   max-height: auto;
    background-color: #d6dfe9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
   
}
.img-thumbnail>img{
    max-height:200px;
    max-width: 100%;
    margin: 5px 3px;
     box-shadow: 0px 0px 0px #000;
    transition: box-shadow .3s;
   
}
.img-thumbnail>img:hover{
    box-shadow: 0px 10px 15px #000;
}

.car{
    color:#000;
    
    background-color: #d6dfe9;/*#34495e */
    
}
.line{
    min-height: 3px;
    width:100;
    background: #000;
}
.top{
    box-shadow: 0px 3px 8px #262323;
    margin-bottom: 10px;
}
.bottom{
    box-shadow: 0px -3px 8px #000000;
    margin-top:10px;
}

/*------------------Dark background section-------------*/
.dark-bg{
      background-image:linear-gradient(rgba(38, 54, 69, 0.81),rgb(0, 0, 0) 70%),url(images/back3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.dark-bg h2{
color: #fff;
}
.dark-bg .img-thumbnail{
    background: transparent;
    border: 1px solid transparent;
}
.dark-bg .img-thumbnail>img{
    max-height:200px;
    max-width: 100%;
    margin: 5px 3px;
     transform: scale(1.00);
    transition: transform .5s;
   
}
.dark-bg .img-thumbnail>img:hover{
    transform: scale(1.05);

}
.dark-bg .line{
    min-height: 3px;
    width:100;
    background: #fff;
}
.dark-bg .top{
    box-shadow: 0px 3px 8px #000;
    margin-bottom: 10px;
}
.dark-bg .bottom{
    box-shadow: 0px -3px 8px #000;
    margin-top:10px;
}

/*-------------Footer section---------------------------------*/

    
.footer{
   
    width: 100%;
    height:auto;
    margin-top: 0px;
    color:white;
    height:auto;
    font-weight: 100;
    font-size: 100%;
   
    background: linear-gradient(rgba(62, 87, 113, 0.67) 20%, #000000 80%);

}
.footer-row{
    display:block;
 
    
}

.social-nav{
    width:20%;
    margin: 10px auto;
    margin-top:10px;
  
}

.social-nav ul{
    padding: 0px;
    list-style: none;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    margin-bottom: 5px;
}
.social-nav li{
    width:33%;
}
.social-nav a{
    padding: 12px 20px;
    text-decoration: none;
    color:#fff;
    transition : color .3s;
}
.facebook:hover{
    color: #3b5998;
}
.twitter:hover{
    color:#00aced;
}
.instagram:hover{
    color:#125688;
}


.copyright{
    margin:0px auto;
    width:100%;
    
}

.copyright>p{
    text-align: center;
    width:100%;
    font-size: 80%;
    color: rgba(255, 255, 255, 0.6);
}


