/*base-color:#e74c3c*/

*{
/*outline:1px solid red;*/
    
}

body{
    font-family:"Lato",sans-serif;
    font-size: 20px;
    color:#fff;
 
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    
   height:auto;

    
}
.section-heading{
    color:#000;
    text-transform:uppercase;
    font-family: 'Raleway', sans-serif;
    
    margin-bottom: 20px;
    
   
}
.section-heading>h2{
    font-size: 200%;
    text-align: center;
    
    padding: 5px;
     
}
.light{
   color:#000; 
}
.dark{
   color:#fff; 
}

.redirect-btn{
    padding: 10px;
    color:#7493b2;
    border:2px solid #7493b2;
    /*border-radius: 15%;*/
    margin: 10px 5px;
    
}

.redirect-btn-full{
    padding: 10px;
    color:#000;
    background: #7493b2;
    border:2px solid #7493b2;
    /*border-radius: 15%;*/
    margin:10px 10px;
    text-decoration: none;
    
    
}

.section{
    padding-top:85px;
    padding-bottom: 50px;
    /*box-shadow: 0px 2px 10px ;*/
   
}

/* -----------------HEADER section----------------------*/
.header-section{
      /* background-image:linear-gradient(hsla(263, 68%, 9%, 0.97), rgba(2, 0, 25, 0.82)),url(images/back2.jpg); */
       background-image:linear-gradient(#000000, rgba(52, 73, 94, 0.69)),url(images/back2.jpg);
    background-position:center;
    background-attachment: fixed;
    min-height: 100vh;
    	
}

/*-----------------top row with nav------------------------*/
.header
{
    margin: 20px 0px;
    justify-content: center;
    max-height:15vh;
    margin-bottom: 30px;
}

.logo{
    max-width: 100%;
    max-height: 15vh;
    border-radius: 50%;
}
.logo-holder{
    margin:auto;
    text-align: center;
}

.main-nav{
    margin: auto;
    justify-content: center;
}
.main-nav ul{
    justify-content: center;
    list-style: none;
    display: flex;
    min-width:100%;
    margin-top:50px;
    
}

.main-nav li{
  min-width:20%;
    text-align: center;
    height: auto;
    
}
.main-nav a{
    border-bottom: 2px solid transparent;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color:#89a4be;
    transition: border-bottom .5s, color .5s;
}
.main-nav a:hover{
    
    border-bottom: 2px solid #c0cedc;
    color:#c0cedc;
}

.main-nav .selected{
    color:#c0cedc;
    border: 2px solid #c0cedc;
    padding: 5px;


}


/*---------------------slider--------------------*/




     /*-------------slider------------------*/
            .slider{
                width:90%;
                margin:auto;
            
                
                
            }
    /*-------------hero content------------*/
            .hero-content{
                background-color:#000;
                max-height: 70vh;
                
            }
    /*-------------hero img----------------*/
            .hero-img{
                max-width: 100%;
                max-height: auto;
                position:relative;
                opacity: .7;
                
}
    /*------------hero text---------------*/
            .hero-text{
               
                position: absolute;
                bottom:50px;
                display: block;
                max-width: 90vw;
                color:white;
                padding: 1em;
            }
            
h1{
    font-size: 370%;
    font-weight:300;
    color: rgba(255, 255, 255, 0.78);
    flex-wrap: wrap;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
   font-family: 'PT Sans Narrow', sans-serif;
    width: 100%;
    margin-top:10px;
   
}
.sec-reference{
   font-family: 'Raleway', sans-serif;
    font-size: 100%;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-transform: uppercase;
    
    
}
p{
    font-size: 110%;
    font-weight: 300;
}

/*---------------End of HEADER section-----------------*/

/*-------------------LATEST CAR SECTION ---------------------*/

.latest-car{
    color:#000;
    
    background-color: #d6dfe9;
    
}
.car-pic{
    position: relative;
    max-width: 100%;
    margin:auto;
    
    overflow: hidden;
    
    
}
.car-pic .col-md-8, .car-pic .col-md-12{
    padding: 0px;
    background-color: #000;
} 

.car-pic .col-md-12{
    margin: 10px;
}
.car-pic .col-md-4{
    height: 100%;
}

.image1{
     overflow:hidden;
   /* box-shadow: -5px 10px 30px #000;*/
}
.image1>img{
    
    max-width: 100%;
    min-height:100%;
    position: relative;
    opacity:1;
    transition: opacity .5s, transform .9s;
   
}

.image2{
    overflow: hidden;
    max-height:50%;
    max-width: auto;
    /*box-shadow: 0px 5px 10px #000;*/
}
.image2>img{
    max-width:100%;
    max-height:10%;
    transform: scale(1.15);
    transition: transform .5s;
}

.image2>img:hover{
    transform: scale(1.03);
}


.image1:hover img{
    opacity:0.5;
    transform: scale(1.2);
}
.image1:hover .text-over-pic{
    opacity:1;
   
}

.text-over-pic{
    position: absolute;
    bottom: 0px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width:100%;
    opacity: 0;
    transition: opacity .5s;
    
}
.text-over-pic>a{
    text-decoration: none;
    color:#fff;
    vertical-align: middle;
    background-color:#d62c1a transparent;
    padding: 10px;
     
}

.car-text{
    margin-top:10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.car-desc{
    background-color:#fff;
    margin:10px 0px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 15px 0px #554b4b;
    border-radius: 0%;
   
    
}
.car-desc>h4{
   font-family: 'PT Sans Narrow', sans-serif; 
    font-size: 120%;
    letter-spacing: 1px;
}
.sub-nav1{
    display: none;
}
.visible1{
    display: block;
}

/*----------------END OF CAR SECTION-------------------*/
/*-----------------WHAT'S NEW SECTION ----------------*/
.whats-new{
  background-image:linear-gradient(rgba(137, 164, 190, 0.83),#000000),url(images/back2.jpg);
    background-attachment: fixed;
    background-position: center;
   
}
.news-slider{
    overflow: hidden;
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    
}

.news-slider-image{
    max-width: 100%;
    max-height: auto;
    box-shadow: -2px 0px 20px #000;
    
}
.news-slider-image>img{
    
    max-height:50vh;
    max-width:50vw;

}
@media screen and (max-width:1000px)
{
    .news-slider-image>img{
    
    max-height:100%;
    max-width:100%;

}
}
.news-content{
    align-items: center;
    padding: 20px;
}
.news-header>h1{
    color:#000;
     color:#fff;
    font-size: 225%;
    font-weight: 400;
}

.news-para{
    color: #000;
     color:#fff;
}

/*-----------------END OF WHAT'S NEW SECITON-----------*/

/*-----------------SPONSORS SECTION-------------------*/


.sponsors{
    padding: 50px 0px;
    height: auto;
    margin-bottom: 0px;
    background-color: #e1e8ef;
}



.sponsors-list{
    display: flex;
    flex-wrap:wrap;
}
.sponsor-logo{
    max-height: auto;
    width: 14.27%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    box-shadow: 0px 0px 00px #000;
    transition: box-shadow .3s;
}

.sponsor-logo:hover{
    box-shadow: 0px 5px 20px #000;
}

.sponsor-logo img{
   
    max-height:130px;
    max-width: 100%;
  
   
}

.line{
    min-height: 3px;
    width:100;
    background: #000;
}
.top{
    box-shadow: 0px 3px 8px #262323;
}
.bottom{
    box-shadow: 0px -3px 8px #000000;
}
.sponsor-head h5{
    color:#000;
    font-size: 110%;
    text-align: center;
    text-transform: uppercase;
}

/*--------------END OF SPONSORS SECTION---------------*/
/*-------------Footer section---------------------------------*/

    
.footer{
   
    width: 100%;
    height:auto;
    margin-top: 0px;
    color:white;
    height:auto;
    font-weight: 100;
    font-size: 100%;
   
    background: linear-gradient(rgba(62, 87, 113, 0.67) 20%, #000000 80%);

}
.footer-row{
    display:block;
 
    
}

.social-nav{
    width:20%;
    margin: 10px auto;
    margin-top:10px;
  
}

.social-nav ul{
    padding: 0px;
    list-style: none;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    margin-bottom: 5px;
}
.social-nav li{
    width:33%;
}
.social-nav a{
    padding: 12px 20px;
    text-decoration: none;
    color:#fff;
    transition : color .3s;
}
.facebook:hover{
    color: #3b5998;
}
.twitter:hover{
    color:#00aced;
}
.instagram:hover{
    color:#125688;
}


.copyright{
    margin:0px auto;
    width:100%;
    
}

.copyright>p{
    text-align: center;
    width:100%;
    font-size: 80%;
    color: rgba(255, 255, 255, 0.6);
}


/*-----------CSS HOVER EFFECTS STARTS-----------------*/


/*-----------------BOUNCE TO RIGHT--------------*/
/* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #7493b2;
    
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
      
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
     
}

/*----------------------- Float Shadow-------------*/
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/*------------------PUSLE GROW ------------------*/
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
      box-shadow: 0px 2px 5px #000;
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
      box-shadow: 0px 2px 5px #000;
  }
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
    box-shadow: 0px 2px 5px #000;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
    text-decoration: none;
    box-shadow: 0px 2px 5px #000;
}


